# Exercise 2 

### Basic Syntax Problem Set

### Due: TBD

### Directions: 

1. Change the name of your notebook to EX2_FirstLast.ipynb, where First is your first name and Last is your last name.

2. For each of the following prompts, write or modify Python code that fulfills the requirements. 

#### Important information to remember:

1. Periodically, you should click File -> Save Notebook
2. When you are done working for the day, click File -> Log Out
3. When you are finished, download the notebook and upload it to the submission link

# Setting variables and the print statement

### Problem 1: Set a variable named 'a' to the value 10 and print the value associated with variable 'a' using the variable 'a'

### Problem 2: Print the operation 10 + 5 without using any variables

### Problem 3: Set the result of the operation 10 + 5 equal to a variable named 'b' and then print value associated the variable 'b' using the variable 'b'

### Problem 4: Set a variable named 'a' equal to 5, and a variable named 'b' equal to 10; then print the result of the operation a + b

### Problem 5: Change the following code so the print statement produces the output "12"

In [1]:
x = 10
y = 15

result = x + y

print(result)

25

# Equations

### Problem 6: Implement the linear equation y = mx + b in Python code. Your slope should be 2, your intersect should be 5, and your x position should be 1.

#### The output from two print statements should be exactly equal to the following. You must use the variables m, x, b, and y to print:

```
m: 2 x: 1 b: 5
The resulting y value is 7
```

# Math operations

### Use the clues in the print statement text below to change the operations (and only the operations) if needed. The answers should be as follows:

7. Sum is 4
8. Difference is -1
9. Product is 2
10. Quotient is 0.5
11. Exponential is 4
12. Remainder is 3

### Problem 7:

In [2]:
a = 2
b = 2

print("Sum is", a % b)

Sum is 0

### Problem 8:

In [3]:
a = 1
b = 2

print("Difference is", a * b)

Difference is 2

### Problem 9

In [4]:
a = 1
b = 2

print("Product is", a ** b)

Product is 1

### Problem 10

In [5]:
a = 1
b = 2

print("Quotient is", a + b)

Quotient is 3

### Problem 11

In [6]:
a = 2
b = 2

print("Exponential is", a - b)

Exponential is 0

### Problem 12

In [7]:
a = 7
b = 4

print("Remainder is", a / b)

Remainder is 1.75

# Order of operations

### Problem 13: Given the following four equations, add parentheses (and only parentheses) to get a different result each time. Do not change anything else about the equation.

In [8]:
result1 = 1 + 5 * 4 - 2 + 2**2 / 4

result2 = 1 + 5 * 4 - 2 + 2**2 / 4

result3 = 1 + 5 * 4 - 2 + 2**2 / 4

result4 = 1 + 5 * 4 - 2 + 2**2 / 4

print("result1 =", result1)
print("result2 =", result2)
print("result3 =", result3)
print("result4 =", result4)

result1 = 20.0
result2 = 20.0
result3 = 20.0
result4 = 20.0

### Problem 14: Calculating the mean of 2 or more numbers requires two steps:

1. Find the sum of the numbers
2. Divide by the count of numbers

The equation below is your first try. Is this correct? If not change it so it is correct using order of operations.

In [9]:
a = 1
b = 2
c = 3
d = 4
e = 5

mean_first_try = a + b + c + d + e / 5

print(mean_first_try)

11.0

# Printing text and inserting "comments"

### Problem 15: Change the following code so it prints "5" instead of "10" using a Python comment and only a Python comment.

In [10]:
a = 5

a = 10

print(a)

10

### Problem 16: Print the string "explicit" using the print statement

### Problem 17: Set the string "implicit" equal to a variable named ```example```, and then print the value of ```example``` using ```example```

### Problem 18: Use one print statment to create a formatted message equal to the following:

"The temperature is 80 and the dewpoint is 70"

You must use a variable named ```temp``` for the temperature and ```dew``` for the dewpont in the print statement.