# Exercise 15 - pandas practice

Answer the following questions about this time series of average monthly high temperatures in DeKalb, IL from 1991 - 2020.

"dkb_high_temps.csv" is in the data/exercises folder.

You will get no credit if your code does not "prove" your answer. For example, if you just look at the list and then print out the answer (or similar), that will get 0 points.

In [1]:
import pandas as pd

df = pd.read_csv("../../../data/exercises/EX15/dkb_high_temps.csv", index_col='YEAR')

df

       NOV
YEAR
1991  41.5
1992  42.6
1993  44.3
1994  49.8
1995  37.6
1996  36.6
1997  41.1
1998  50.3
1999  56.4
2000  42.6
2001  57.4
2002  43.2
2003  48.4
2004  49.1
2005  47.7
2006  49.3
2007  46.3
2008  45.7
2009  51.8
2010  49.8
2011  49.4
2012  46.7
2013  43.4
2014  38.7
2015  50.8
2016  54.9
2017  44.1
2018  37.5
2019  38.8
2020  53.0

### Problem 1 (1 point)

Calculate the count, mean, standard deviation, minimum, maximum, 25th percentile, 50th percentile, and 75th percentile for the 'NOV' column.

HINT: it is one method and takes one line of code. It should look like this:

```
count  30.000000
mean   46.293333
std     5.674986
min    36.600000
25%    42.600000
50%    46.500000
75%    49.800000
max    57.400000
```

In [2]:
stats = None # replace None

print(stats)

None

### Problem 2 (1 point)

What year had the warmest temperature?

You should get an answer of 2001.

### Problem 3 (1 point)

What year had the coolest temperature?

You should get an answer of 1996.

### Problem 4 (2 points)

The standard anomaly is calculated by first finding the difference of one NOV value and the mean of NOV values, and dividing it by the standard deviation.

Using the same method as in problem 1, how would you finish the code below to calculate the standard anomaly of 2001 and 1996 temperatures? Do not change anything except where it says # replace None

Do not reuse variables from previous code cells. Place all code here (except imports, if you do not need to do so).
The output should be:

```
1996 temperature was 36.6
2001 temperature was 57.4
1996 temperature had a standard deviation of -1.71
2001 temperature had a standard deviation of 1.96
```

In [3]:
low = df.loc[1996]
high = df.loc[2001]

print("1996 temperature was", low['NOV'])
print("2001 temperature was", high['NOV'])

stats = None # replace None

low_std = float((low / stats['mean']) + stats['std']) # fix the math operations
high_std = float((high / stats['mean']) + stats['std']) # fix the math operations

print(f"1996 temperature had a standard deviation of {low_std:.2f}")
print(f"2001 temperature had a standard deviation of {high_std:.2f}")

1996 temperature was 36.6
2001 temperature was 57.4

TypeError: 'NoneType' object is not subscriptable

### Problem 5 (2 points)

How often was the temperature 1 or more standard deviations below the mean? 

How often was the temperature 1 or more standard deviations above the mean?

Your answer should look like:

```
51.97 is 1 std above the mean
40.62 is 1 std below the mean
4 years above +1 std
5 years below -1 std
```

Remember, placing the values above directly in the code below will result in 0 points.

In [4]:
stats = None # replace None using pandas in one line like #1

above = None # replace None with value at +1 std using pandas
below = None # replace None with value at -1 std using pandas

print(f"{above:.2f} is 1 std above the mean")
print(f"{below:.2f} is 1 std below the mean")

count_above_plus_1_std = df[df['NOV'] == above] # fix the test
count_below_minus_1_std = df[df['NOV'] == below] # fix the test

print(len(count_above_plus_1_std), "years above +1 std")
print(len(count_below_minus_1_std), "years below -1 std")

TypeError: unsupported format string passed to NoneType.__format__

### Problem 6 (3 points)

Plot the time series of the values in 'NOV' using the index as the x-axis. See 'EX15_plot.jpg'