# Primitive data types

### There are four primitive data types we will discuss in this course:

### Integers
```
#Examples
a = 1
b = 2
```

### Floats 
```
#Examples
c = 1.5
d = 2.5
```

### Characters 
```
#Examples
e = “a”
f = “h”
```

### Boolean 
```
#Examples
g = True
h = False
```

## Integers are numbers with no fractional parts and can be positive or negative

keyword: ```int```

### Math operations work as you would expect!

In [1]:
print(1 + 1)

print(1 - 1)

2
0

### Important concept: object permanence

![object](https://topponcinocompany.com/cdn/shop/articles/shoebox_2.jpg)

#### When you set a variable

```
a = 1
```

#### the variable ```a``` is a representation of the integer 1. You can print ```a```, use ```a``` in a math operation, etc.

### Rule 1: When a variable is set to a value (example: ```a = 1```), the variable will represent that value until:

1. You restart the notebook or log out
2. You set ```a``` to a different value

### Running sums: a common Python pattern

You often want to add numbers to an existing variable, and set the result to that variable.

Consider the following. You set ```a``` equal to 1

In [2]:
a = 1

You have a program that needs to count values, and the variable ```a``` is your counting variable.

If you simply print ```a + 1```, you notice that the variable ```a``` remains unchanged:

In [3]:
print(a + 1)

print(a)

2
1

Remember Rule 1: values are not changed unless you use an equal sign (```=```) to set a new value.

In [4]:
print(a)

a = 2

print(a)

1
2

### Rule 2: everything to the right of an equal sign (```=```) is evaluated first.

Again, consider this scenario: We set ```a = 1```

In [5]:
a = 1

if we want to change the value of ```a``` by adding 1 to the count, we can combine a math operation:

In [6]:
a + 1

2

with an equal sign to first evaluate the math operation and then set it equal to a variable:

In [7]:
b = a + 1

print(b)

2

A difficult concept to understand is that we can set a variable to an operation that includes that same variable!

In [8]:
a = a + 1

print(a)

2

How is this possible? Because of **Rule 2**: ```a + 1``` is evaluated first, because it is to the right of the equal sign. The result of the operation is then set equal to the result of the operation due to **Rule 1**.

Rule 1 and Rule 2 can be chained as many times as you'd like:

In [9]:
# Rule 1
a = 1

# Rule 2, then
# Rule 1
a = a + 1

# Rule 2, then
# Rule 1
a = a + 1

# Rule 2, then
# Rule 1
a = a + 1

print(a)

4

However, you cannot do this on the same line:

In [10]:
a = a + 1 = a + 1

SyntaxError: cannot assign to operator (3543639842.py, line 1)

# Rule 1 and Rule 2 are the same for any data type or operation:

In [11]:
#characters
x = "N"
x = x + "I" + "U"

print(x)

NIU

## Floats are numbers with fractional parts and can be positive or negative

### Floats are used whenever you have decimals or calculations that may have decimals.

Float operations can use integers. Python 3 will automatically convert from ```int``` to ```float``` when needed.

keyword: ```float```

```int``` used for calculation:

In [12]:
a = 1
b = 3
c = 4
d = 6
e = 0
f = 12

# All integers
my_mean = (a + b + c + d + e + f) / 6

print(my_mean)

4.333333333333333

```float``` used for calculation:

In [13]:
a = 1.0
b = 3.0
c = 4.0
d = 6.0
e = 0.0
f = 12.0

# All floats
my_mean = (a + b + c + d + e + f) / 6

print(my_mean)

4.333333333333333

```int``` and ```float``` used:

In [14]:
a = 1
b = 3.0
c = 4
d = 6.0
e = 0
f = 12.0

# All floats
my_mean = (a + b + c + d + e + f) / 6

print(my_mean)

4.333333333333333

## Booleans are used for testing conditions and can be one of two values: ```True``` or ```False```

keyword: ```bool```

### Often Booleans are used for a logical test or combinations of logical tests:

Example: Is a number larger than another number?

In [15]:
condition = 2 > 1

print(condition)

True

In [16]:
condition = 2 < 1

print(condition)

False

# There are 5 possible boolean tests:

### Greater than: ```>```
### Greater than or equal to: ```>=```
### Less than: ```<```
### Less than or equal to: ```<=```
### Equal to: ```==```

In [17]:
a = 1
b = 2

print(a > b)
print(a >= b)
print(a < b)
print(a <= b)
print(a == b)

False
False
True
True
False

# We can combine multiple boolean tests using two operators: and (&), or (|)

### Boolean rule: when we combine multiple tests, we need to put parentheses around tests in a way that assures comparisons are done in the order we want.

We will learn more about tests and combination operators when we discuss if, elif, else statements

In [18]:
a = 1
b = 2
c = 3

print((a >= 1) and (b > c))
print((a >= 1) & (b > c))

print((a >= 1) or (b > c))
print((a >= 1) | (b > c))

False
False
True
True