# Composite data types: Strings

### Strings are any text identified in Python code within ```""``` or ```''```

keyword: str

We can treat strings like ```int``` or ```float``` in some cases:

In [2]:
string1 = "Go "
string2 = "Huskies!"

print(string1 + string2)

string3 = string1 + string2

print(string3)

Go Huskies!
Go Huskies!

However, we typically want to use more complex approaches which include:

1. *casting*: converting ```int``` or ```float``` into ```str```
2. *format string* or *f-string*: defining where and how to insert an ```int``` or ```float``` into a ```str```

# String rules:

### Rule 1: you must "close" a string using a starting ```"``` and ending ```"``` (alternatively a starting ```'``` and ending ```'```).
### Rule 2: you cannot add an ```int``` or ```float``` to a ```str``` without first *casting* those values.
### Rule 3: if you need to format your strings or insert values, you must use an f-string to do so.

## Rule 1: Setting variables equal to strings correctly

This is the first thing you should check if you are debugging / troubleshooting code with strings.

In the following example, I try to set a variable to a string value, but I do not close the end of the string with ```"```. You get a SyntaxError, which suggests something very basic is wrong. When you see "EOL while scanning string literal", that means that the interpreter expected a second ```"``` and never got one. This is an error that will stop your code from running.

In [4]:
a = "Test

SyntaxError: EOL while scanning string literal (2223050075.py, line 1)

You can also get an error if you mix up your ```"``` and ```'```

In [5]:
a = "Test'

SyntaxError: EOL while scanning string literal (574949106.py, line 1)

Be consistent!

In [7]:
a = "NIU"
b = 'NIU'

print(a)
print(b)

NIU
NIU

Why does the following not work?

In [17]:
a = Test

NameError: name 'Test' is not defined

## Rule 2: Numbers generally need to be "cast" (converted) into a string data type to interact with existing strings

This is a rule across most programming languages, and is a subset of a more general rule that data types have different purposes and abilities. It is up to the programmer to make sure the right data type is being used. If the correct data type is not in place, casting (converting) is required.

In the case of ```float``` and ```int```, the conversion is straightforward:

In [8]:
int_example = 1
float_example = 1.5

int_to_str_example = str(int_example)
float_to_str_example = str(float_example)

print(int_to_str_example)
print(float_to_str_example)

1
1.5

The original data types are incompatible with strings, and you will get a TypeError, which suggests there is an incompatible data type problem:

In [9]:
combined_str = "The answer is " + int_example

TypeError: can only concatenate str (not "int") to str

In [10]:
combined_str = "The answer is " + float_example

TypeError: can only concatenate str (not "float") to str

However, after casting, the variables are now also ```str``` and can be added to another string:

In [13]:
combined_str = "The answer is " + int_to_str_example

print(combined_str)

The answer is 1

In [14]:
combined_str = "The answer is " + float_to_str_example

print(combined_str)

The answer is 1.5

In some cases, a string can be cast to an ```int``` or ```float```. This only works if the string is "obviously" a number:

In [15]:
str_number = "1.452"

str_to_float_number = float(str_number)

print(str_to_float_number)

1.452

Did the following code work as expected? If not, what do you have to do to make it work?

In [16]:
str_number_1 = "1.452"
str_number_2 = "3.134"

result = str_number_1 + str_number_2

print(result)

1.4523.134

## Rule 3: Using f-strings to insert and format variables in strings

A normal string is defined as in the examples above:

In [1]:
a = "test"

print(a)

test

If you have multiple variables to print, you can use a print statement with commas to print the values along with spaces:

In [2]:
a = "Let's"
b = "Go"
c = "Huskies!"

print(a, b, c)

Let's Go Huskies!

This works well with strings, but can result in undesirable results when using other data types, particularly ```float```

In [4]:
a = 1
b = 3
c = a / b

print(a, "/", b, "=", c)

1 / 3 = 0.3333333333333333

Notice that we have many decimal places. 

Often you are required to cut off the display of decimals at two decimal places. 

There is no obvious way to make this work with what we have learned so far.

### f-string syntax

f-strings (formatted strings) can take other data types, format them in a predictable way, and then output the result.

There are only two main differences between a normal string and f-string

1. You must put an ```f``` in front of the first ```"```.
2. You must place "{ }" in the string where you would like to insert a value.

An example is shown below, where you insert a, b, and c like above into a string and then print the string:

In [5]:
a = 1
b = 3
c = a / b

result = f"{a} / {b} = {c}"

print(result)

1 / 3 = 0.3333333333333333

This is the most basic way we can insert variables into a string.

### Formatting numbers

When inserting numbers (```int```, ```float```) into a string, you must provide 3 pieces of information within the brackets (```{ }```):
    
1. The variable you wish to insert
2. The data type of the variable
3. The formatting code

The most common formatting task is to take a float and display a fixed amount of decimal places.

A basic template for this process can be seen below, where precision is the count of decimal places (try changing the precision variable from 2 to 3):

In [22]:
variable = 1.66666666666
precision = 2

formatted_float = f"{variable:.{precision}f}"

print(formatted_float)

1.67

You can also write it as such:

In [23]:
variable = 1.66666666666

formatted_float = f"{variable:.2f}"

print(formatted_float)

1.67

For the a, b, c example above, you would replace the above example with this:

In [25]:
a = 1
b = 3
c = a / b

result = f"{a} / {b} = {c:.2f}"

print(result)

1 / 3 = 0.33

# Fill in the rest of the notebook with slides 9 through 15. 

Use markdown cells to describe the code, use code cells to include code examples from the slideshow.

In [ ]:
# code cell

markdown cell