# Lists

- Lists are organizations of primitive (or even composite) data types and can be modified once defined

- You can access values in a list based on their position, starting with 0, 1, 2, etc. by placing square brackets after variable name (just like strings!)

- You can add values to the list by using the ```append()``` method

- Useful for:
    - Creating related groups of data
    - Keeping track of data without a known end point
    - Sorting data
    
keyword: ```list```

keyword: ```[]```

We define a list using the square bracket "keyword".

You must:

1. Start and end the list sequence with an open and closed square bracket
2. Items in the list must be separated by commas
3. Items in the list can be variables of **any** data type, and can be implicitly or explicitly included

In [1]:
a = [10, 11, 12, 13]

print(a)

[10, 11, 12, 13]

or alternatively:

In [2]:
b = 10
c = 11
d = 12
e = 13

a = [b, c, d, e]

print(a)

[10, 11, 12, 13]

### List indexing

List items can be indexed just like string characters. The indexing rules remain the same (starting with 0, slicing, etc.).

The data type of a single index will be the same as the data type at that position. 

In other words, if there is an ```int``` at that position, it can then be used just like an ```int```

Example: access the 1st item in ```a``` and print it:

In [3]:
print(a[0])

10

Add the 1st ```int``` to the 3rd ```int``` and print the result:

In [4]:
print(a[0] + a[2])

22

# List slicing

Unlike with strings, a sliced list will give you another list. The individual data types will not be accessible until you use a single index.

This can result in unexpected behavior if you assume the slices can be treated as ```int``` for example.

Print the items at indexes 0 and 1 at the same time:

In [5]:
print(a[0:2])

[10, 11]

Print the sum of the sliced items at indexes 0 and 1 and the sliced items at indexes 2 and 3:

In [6]:
print(a[0:2] + a[2:4])

[10, 11, 12, 13]

What happened? If you reverse the order, it becomes more clear:

In [7]:
print(a[2:4] + a[0:2])

[12, 13, 10, 11]

The operator ```+``` for ```list``` simply merges the two lists together and makes a new list based on the order of operation.

Some operations do not work:

In [8]:
print(a[2:4] * a[0:2])

TypeError: can't multiply sequence by non-int of type 'list'

Others work, but maybe not as you would expect. 

For example, the ```*``` operator does not multiply every item in the ```list``` by 10, it makes 10 copies of the ```list```

In [9]:
print(a[2:4] * 10)

[12, 13, 12, 13, 12, 13, 12, 13, 12, 13, 12, 13, 12, 13, 12, 13, 12, 13, 12, 13]

### ADVANCED PYTHON WARNING

To multiply every value in a list by a value, you can use a "list comprehension".

We will learn about this later when we discuss loops.

In [10]:
g = [item * 10 for item in a]

print(g)

[100, 110, 120, 130]

Adding an ```int``` to the list does not work:

In [11]:
print(a[2:4] + 10)

TypeError: can only concatenate list (not "int") to list

unless you make it a list:

In [12]:
print(a[2:4] + [10])

[12, 13, 10]

The sliced ```list``` can be set to a variable and treated just like a ```list```

In [13]:
f = a[:2]

print(f[0])

10

### List methods

Just like with strings, lists have methods that can be used to access, modify, create, or delete items within the list.

https://www.w3schools.com/python/python_ref_list.asp

Some commonly used list methods:

#1. ```append()```: add a new item to the end of an existing list

In [14]:
a = [1, 2, 3]

a.append(4)

print(a)

[1, 2, 3, 4]

#2 ```sort()```: sorts the list based on an alphanumeric order

In [15]:
b = [5, 1, 17, 0, 3]

b.sort()

print(b)

[0, 1, 3, 5, 17]

#3 ```len()```: counts the number of items in the list

This is not a list method, per se, but is used very often with lists!

In [16]:
c = [100, 200, 300, 400, 500]

print(len(c))

5

### Practice:

Provide code examples that answer the following questions using ```list``` indexing and/or slicing based on the list definition below:

In [17]:
D = [52, 55, 59, 62, 73, 44, 42, 41, 75]

What is the third ```int``` in D?

What is the int at the 6th index?

How would you access and print the first item in D?

How would I set a variable named ```t``` to the 8th ```int```?

How would I output 86 using indexing and a print statement?

How would I add the item 20 to the end of the ```list``` defined below:

In [ ]:
E = [52, 55, 59, 62, 73, 44, 42, 41, 75]

How would I sort the ```list``` defined below?

In [ ]:
E = [52, 55, 59, 62, 73, 44, 42, 41, 75]

How would I find the number of items in the list below?

In [ ]:
E = [52, 55, 59, 62]